.Rproj.user
.Rhistory
.RData
.Ruserdata
/bonetradeFiles/.Rproj.user/*
/bonetradeFiles/archetypes/*
/bonetradeFiles/data/*
/bonetradeFiles/layouts/*
/bonetradeFiles/static/*
/bonetradeFiles/themes/*
/bonetradeFiles/config.toml
/bonetradeFiles/index.Rmd
